body{
  width:100%;
  height:100vh;
  font-family:MicrosoftYaHei-Bold;
}
input::-webkit-input-placeholder{
  color:#999;
}
/*小手显示*/
.header-user-msg:hover,.close-login:hover,.main-right-body-title>div:hover,.left-list-one:hover,
.left-list-two>ul>li:hover,.main-left-title>span:hover,.iknown:hover,.not-known:hover,.lookMK_btn:hover,
.ques-change>div:hover,.look-more:hover,.look_new-detail:hover,.gswd_list:hover,.msg-main-left-li>div:hover,
.msg-main-right-li>div:hover,.jm-fd-btn>a:hover,.fjm-fd-btn>a:hover,.sl-classification-list>div:hover,
.cc_fd_btn:hover,.six-special-fd-btn:hover,.total-gs-class-list>div[data-v-4cd1a4ff]:nth-child(3):hover,
.logo-img:hover,.edit_sf_deter_msg:hover{
  cursor: pointer;
}
@media screen and (min-width: 1200px){
  html,body,#header,#footer{
    width:100vw;
  }
}
@media screen and (max-width: 900px){
  html,body,#header,#footer{
    width:1200px!important;
  }
}
@media screen and (max-width: 600px){
  html,body,#header,#footer{
    width:1200px!important;
  }
}
@media screen and (max-width: 1199px){
  html,body,#header,#footer{
    width:1200px!important;
  }
}
/*container部分*/
.container{
  width: 1000px!important;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}
/**/
/*头部*/
#header{
  width:100%;
}
.header-logo{
  height:5rem;
  box-shadow:0px 1px 10px 0px rgba(0, 0, 0, 0.04);
}
.header-logo .container{
  height: 100%;
}
.header-logo .container,.header-tab .container{
  display: flex;
  justify-content: space-between;
}
.logo-img{
  margin-top: 1.4rem;
  width:7.93rem;
  height:2.19rem;
}
.logo-name{
  font-size: 1.25rem;
  color:#13B5B1;
  font-weight: bold;
  padding-left: 0.625rem;
  border-left: 1px solid #eeeeee;
  margin-left: 0.75rem;
  margin-top: 2rem;
  /*vertical-align: middle;*/
}
.header-user{
  font-size: 0.82rem;
  color:#333;
  margin-top: 1.25rem;
  text-align: right;
}
.header-title{
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom:0.56rem ;
}
.header-user-msg>img{
  vertical-align: middle;
}
.header-user-msg>img:nth-child(1){
  width:1.125rem;
  height:1.125rem;
}
.header-tab{
  height:5rem;
}
.header-tab:before{
  display: table;
  content: '';
}
.header-tab-list{
  font-size: 1rem;
  color:#333;
  margin-top: 2.63rem;
}
.header-tab-list>a>div{
  margin: 0 2.5rem;
  padding-bottom: 1.125rem;
}
.header-tab-act{
  color:#2FBEB9;
  border-bottom: 4px solid #2FBEB9;
}
.header-search-group{
  width:23.06rem;
  height:1.875rem;
  margin: 2.19rem 1.25rem 0 0;
  border:1px solid rgba(238,238,238,1);
  border-radius:15px;
  padding:2px;
}
.header-search-group>input{
  width:90%;
  height:100%;
  padding-left: 1.31rem;
  border:none;
  font-size: 0.875rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid #eee;
}
.header-search-group>img{
  vertical-align: middle;
  width:1.06rem;
  height:1.06rem;
  margin-left: 0.3rem;
}
.close-login{
  width:9.63rem;
  min-height: 4.5rem;
  height:auto;
  background: url(../../static/img/header-user-bg.png) no-repeat;
  background-size: 100% 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color:#333;
  box-shadow:0px 1px 10px 0px rgba(0, 0, 0, 0.04);
  position: absolute;
  top:5rem;
  right:-3rem;
  z-index: 10000;
}
.close-login>ul{
  margin-top: 0.75rem;
}
.close-login li{
  height:2.25rem;
  line-height: 2.25rem;
}
.close-login li:hover{
  background: #F6F6F6;
  color:#13B5B1;
}
/*脚部*/
#footer{
  width:100%;
  height:5.375rem;
  background:#3E434C;
  font-size: 0.81rem;
  color:#999;
  padding-top:1.625rem;
  margin-top: 3rem;
}
#footer div{
  text-align: center;
  margin-bottom: 0.63rem;
}
/**/
/*首页公共样式*/
.home-title{
  margin-top: 1.94rem;
  border-bottom: 1px solid #eee;
  box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.04);
  font-size:0.81rem ;
  color:#333;
}
.home-title>div{
  padding-bottom: 0.875rem;
}
.home-title-cn{
  font-size:1.124rem;
  font-weight: bold;
  margin-right: 0.75rem;
  border-bottom: 2px solid #13B5B1;
}
.gsfd_system_title{
  margin-top:1.81rem ;
  display: flex;
}
.gsfd_system_title>img{
  /*width:3%;*/
  /*height:1.56rem;*/
}
.gsfd_system_title>div{
  width:95.5%;
  margin-left: 1%;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 0.69rem;
  font-size: 0.75rem;
  color:#666666;
}
.gsfd_system_title>div>span:nth-child(1){
  color:#333;
  font-size: 1rem;
  font-weight:400;
  margin-right: 0.2rem;
}
/*个税辅导*/
.main-left{
  width:20%;
  margin-right: 5%;
  margin-top: 1.75rem;
  vertical-align: top;
}
.main-right{
  vertical-align: top;
  width:74%;
}
.main-left-title{
  font-size: 1.125rem;
  color:#333;
}
.main-left-title>img{
  width:1.19rem;
  height:1.125rem;
  vertical-align: top;
  margin-bottom: 1.56rem;
}
.left-list-ul>li{
  min-height:3.5rem;
  height:auto;
  position: relative;
  width:100%;
  color:#333;
  font-size: 1rem;
  margin-bottom: 2px;
}
.left-list-one>div>div{
  width:40%;
}
.left-list-two-div-act{
  color:#13B5B1;
}
.left-list-one{
  height:3.5rem;
  line-height: 3.5rem;
  background: #F0F0F0;
}
.left-list-one-act{
  background: #13B5B1;
  color:#fff;
}
.left-list-one>div>img{
  vertical-align: middle;
}
.left-list-one-icon{
  margin: 0 0.75rem 0 1.125rem;
  width:1.625rem;
  height:1.625rem;
  background: #13B5B1;
  border-radius: 50%;
  color:#fff;
  /*font-size: 0.75rem;*/
  vertical-align: middle;
  position: relative;
}
.left-list-one-icon-act{
  background: #fff;
  color:#13B5B1;
}
.left-list-one-icon>span{
  position: absolute;
  top:5px;
  left:5px;
}
.left-list-one>img:nth-child(3){
 margin-left: 2rem;
}
.left-list-two>ul>li{
  font-size: 0.81rem;
  color:#666;
  margin-bottom: 1px;
  min-height:3rem;
  height:auto;
}
.left-list-two>ul>li>div:nth-child(1){
  background: #FAFAFA;
  height:3rem;
  line-height: 3rem;
  padding-left: 2.56rem;
}
.left-list-three>.left-list-three-list{
  line-height:auto;
}
.left-list-three>.left-list-three-list>div:nth-child(1){
  width:30%;
  text-align: right;
  vertical-align: top;
}
.left-list-two li img{
  vertical-align: middle;
  margin-right: 0.5rem;
}
.left-list-three-dot{
  width:4px;
  height:4px;
  background:#AAAAAA;
  margin-right:0.56rem ;
  vertical-align: middle;
}
.left-list-three-div{
  vertical-align: top;
  width:36%;
  text-align: left;
  line-height: 1rem;
}
.left-list-three-list{
  margin-top: 1.19rem;
}
.left-list-three-list-act{
  color:#13B5B1!important;
}
.left-list-three-dot-act{
  background:#13B5B1!important;
}
.left-list-three-list:last-child{
  margin-bottom:1.06rem ;
}
/*面包屑*/
.bread-nav{
  height:2.25rem;
  line-height: 2.25rem;
  color:#999999;
  font-size: 0.875rem;
  padding-left:1.06rem;
  background: #F9F9F9;
  margin-bottom: 1.06rem;
  margin-top: 1rem;
}
.bread-nav>img{
  width:0.875rem;
  height:0.81rem;
  vertical-align: middle;
}
.main-right-body-title{
  border-bottom: 2px solid #13B5B1;
  font-size: 0.94rem;
}
.main-right-body-title>div{
  width:8.5rem;
  height:2.38rem;
  line-height: 2.38rem;
  text-align: center;
}
.main-right-body-title-act{
  background: url(../../static/img/right-title-click.png);
  color:#fff;
}
.main-right-msg{
  padding:2.75rem 0;
  height:28rem;
  overflow: auto;
  font-size: 0.94rem;
}
.main-right-footer{
  text-align: center;
  font-size: 0.875rem;
  /*position: fixed;*/
  /*bottom:3rem;*/
  /*width: 70%;*/
}
.iknown{
  width:6.81rem;
  height:1.94rem;
  background: #13B5B1;
  color:#fff;
  line-height: 1.94rem;
  text-align: center;
  border-radius:4px;
  margin-right: 0.94rem;
}
.iknown-yes{
  width:6.81rem;
  height:1.94rem;
  background: #eee;
  color:#fff;
  line-height: 1.94rem;
  text-align: center;
  border-radius:4px;
  margin-right: 0.94rem;
}
.orange{
  color:#F99F12!important;
}
.mask-layer{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left:0;
  top:0;
}
.rapid-notice{
  width: 60%;
  margin: 0 auto;
}
.rapid-notice-title{
  margin-left: 2.69rem;
  font-size: 1rem;
  color:#333;
  margin-bottom: 8px;
}
.notice-line{
  width:6px;
  height:1rem;
  background:rgba(19,181,177,1);
  margin-right: 5px;
  vertical-align:middle;
}
.notice-ul{
  margin-left:7.44rem ;
}
.notice-ul>li{
  margin-bottom: 1.44rem;
  font-size: 0.875rem;
}
.notice-ul>li>span{
  width: 20px;
  display: inline-block;
}
.notice-li-title{
  font-weight: bold;
}
/*分页样式*/
#page{
  margin: 50px 0;
  text-align: center;
}
#page .prePage, .nextPage {
  outline: none;
}
#page .activity {
  background: #13B5B1;
  color: #fff!important;
  border: none!important;
}
#page .pageButton {
  border: 1px solid #DDDDDD;
  color: #333;
  font-size: 0.75rem;
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  border-radius: 2px;
}
